@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;
$black: #000;

.toaster {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: $red;
  padding: 20px;
  border-radius: 8px;
  opacity: 0.8;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  color: $black;

  &:hover {
    opacity: 1;
  }
}